.carts {
    .cart-img {
        height: 110px;
        width: 350px;  
        @include media-breakpoint-up(md) {
            height: 110px;
            width: 110px;
        }  
    }
    .cart-input{
        @include media-breakpoint-up(md) {
            margin-left: 250px;
            margin-top: -50px;
        }
    }
    .cart-hr {
        border: 0.5px solid $molsgrass-200;

    }
}