.header {
    $main-height: 496px;
    position: relative;
    .header-main-img {
        height: $main-height;
    }
    $rectangle-img-height: 256px;
    .rectangle-section {
        margin-top: -90px;
    }
    .header-bg-img {
        position: absolute;
        right: 40px;
        top: 30px;
    }
    .rectangle-img-wrap {
        height: $rectangle-img-height;
        position: relative;
        z-index: 2;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        display: flex;
        writing-mode: vertical-lr;
        color: #fff;
        text-decoration: none;
        & + .rectangle-img-wrap {
            border-left: 1px solid #fff;
        }
        .rectangle-over {
        background-color: rgba(theme-color('secondary'), 0.5);
        transition: background-color 0.5s;
        }
    
        &.active, &:hover, &:focus {
        color: theme-color('light');
        font-weight: bolder;
        .rectangle-over {
            background-color: rgba(78, 76, 86, 0.5);
        }
        .rectangle-img {
            filter: blur(0);
        }
    }
}




    .rectangle-text {
        font-size: 24px;
        letter-spacing: 10px;
    }

    .rectangle-img {
        position: absolute;
        top: -10px;
        bottom: -10px;
        left: -10px;
        right: -10px;
        filter: blur(5px);
        transition: fliter 0.5s;
        z-index: -2;
    }
}