.bg-cover {
    background-size: cover;
    background-position: center center;
}

.four-sides {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

}

.z-index--1 {
    z-index: -1;
}

.write-vertical {
    writing-mode: vertical-rl;
}
.write-md-vertical {
    @include media-breakpoint-up(md){
        writing-mode: vertical-lr;
    }
}

.negative-row-margin {
    margin-left: -15px;
    margin-right: -15px;
  }


